.App {
  text-align: center;
}

.bg-light {
  background-color: #FAFAFA;
  color: #252525;
}

.bg-dark {
  background-color: #252525;
  color: #FAFAFA;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.characters__container {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  flex-wrap: wrap;

}

.card__container__characters {
  align-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px 10px 0px;
  overflow: hidden;
}

/* .card__container__characters h4 {
  margin: 5px;
  text-align: center;
  color: #0a043c;
}

.card__container__characters h4 span {
  color: #03506f;
} */